@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

* {
    font-family: Poppins, sans-serif;
}

html {
    height: 100%;
}

.container {
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

fieldset {
    border-radius: 5px;
    border-color: orange;
}

h1 {
    color: orange;
}

#spanCPF {
    font-weight: 700;
}

legend {
    padding: 0 8px;
}

p, legend {
    color: black;
}

h1, p {
    width: 100%;
    text-align: center;
}

input {
    border-radius: 5px;
    border-width: 1px;
}

input[type="text"] {
    box-sizing: border-box;
    width: 70%;
    display: inline-block;
    border-color: orange;
    padding: 4px 10px;
    text-align: center;
    font-size: 1em;
}

input[type=text]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
}

input[type="button"] {
    box-sizing: border-box;
    width: 29%;
    display: inline-block;
    margin: auto;
    background-color: orange;
    color: white;
    border-color: orange;
    transition-duration: 0.3s;
    padding: 4px 0;
    font-size: 1em;
}

input[type="button"]:hover {
    cursor: pointer;
    font-weight: 600;
    color: orange;
    background-color: white;
    transition-duration: 0.5s;
}

img {
    width: 100px;
    margin-top: 50px;
}

@media (max-width: 800px) {
    input[type="text"] {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        border-color: orange;
        padding: 4px 10px;
    }
    input[type="button"] {
        display: block;
        width: 200px;
        margin: auto;
        margin-top: 8px;
        text-align: center;
        background-color: orange;
        color: white;
        border-color: orange;
        transition-duration: 0.3s;
    }
}